body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  form {
    max-width: 400px;
    margin: 80px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  label,
  input {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .cantidad-selector {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cantidad-btn {
    border-radius: 80%;
    background-color: #0154bc;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

