/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
}

.max-inicio {
    width: 100%;
    max-height: 528px;
    object-fit: cover;
}

.logo {
    background-color: #0154BC;
}

.logo h1 {
    color: white;
}

h2,
h3 {
    color: #333;
    margin-top: 0;
}

p {
    color: #666;
}

a {
    color: #007bff;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilos del encabezado */
header {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: left;
}

.navbar {
    display: flex;
    justify-content: right;
}

.navbar ul {
    display: flex;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #555;
}

/* Estilos del contenido principal */
#hero {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

#hero p {
    font-size: 24px;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-right: 20px;
}

.card {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 300px;
    padding: 20px;
    margin-right: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.rounded-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.card-content {
    flex-grow: 1;
    padding: 8px;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.card p {
    color: #777;
    font-size: 14px;
    text-align: center;
}

/* Estilos del formulario de contacto */
#contacto {
    margin-top: 40px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    height: 150px;
}

.boton {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #0056b3;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.footer-bottom {
    margin-top: 20px;
}