/* Estilos generales */
body {
  background: url("img/fondo.jpg") repeat;
  background-position: center;
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
}

.max-inicio {
  width: 100%;
  max-height: 528px;
  object-fit: cover;
}

h2,
h3 {
  color: #333;
  margin-top: 0;
}

p {
  color: #666;
}

a {
  color: #007bff;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilos del encabezado */
header {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0154bc;
  height: 48px;
  animation: aparecer 1s ease-in-out forwards;
}

.logo img {
  width: 100px;
  height: auto;
  /* Para mantener la proporción de la imagen */
}

.navbar {
  background-color: #f2f2f2;
  padding: 10px;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 10px;
  position: relative;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.nav-link i {
  font-size: 24px;
  margin-bottom: 5px;
}

.nav-item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  height: 20px;
  width: 1px;
  background-color: #999;
}

.nav-item:last-child::after {
  display: none;
}

.carousel-item {
  position: relative;
}

.carousel-item {
  position: relative;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  pointer-events: none;
}

.carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  color: #fff;
}

.caption-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.caption-content h3 {
  color: white;
}

.caption-content a.btn {
  margin-bottom: 150px;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-content {
  margin-top: 20px;
}

.rounded-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

/* Estilos para la animación */
.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate__fadeInUp {
  animation-name: fadeInUp;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

/* Estilos del formulario de contacto */
#contacto {
  margin-top: 40px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  height: 150px;
}

.boton {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #0056b3;
}

/* Estilos del pie de página */
footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.footer-bottom {
  margin-top: 20px;
}