/* Estilos generales */
body {
  background: url("img/fondo.jpg") repeat;
  background-position: center;
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
}

.max-inicio {
  width: 100%;
  max-height: 528px;
  object-fit: cover;
}

h2,
h3 {
  color: #333;
  margin-top: 0;
}

p {
  color: #666;
}

a {
  color: #007bff;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilos del encabezado */

header {
  background-color: #ffffff;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  background-color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0154bc;
  height: 48px;
}

.logo img {
  width: 100px;
  height: auto;
  /* Para mantener la proporción de la imagen */
  animation: aparecer 1s ease-in-out forwards;
}

.navbarGabita {
  background-color: white;
  padding: 10px;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 10px;
  position: relative;
  animation: aparecer 1s ease-in-out forwards;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.nav-link img {
  font-size: 24px;
  max-width: 35px;
  max-height: 24px;
  margin-bottom: 5px;
  color: #0154bc;
}

.nav-link i {
  font-size: 24px;
  max-width: 35px;
  max-height: 24px;
  margin-bottom: 5px;
  color: #0154bc;
}

.nav-item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  height: 20px;
  width: 1px;
  background-color: #999;
}

.nav-item:last-child::after {
  display: none;
}

.nav-link:hover {
  transform: translateY(-8px);
}


.carousel-item {
  position: relative;
}

.carousel-item {
  position: relative;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  pointer-events: none;
}

.carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  align-items: center;
  margin: 0px;
  padding: 0px;
  color: #fff;
}

.caption-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.caption-content h3 {
  color: white;
}

/* promos nuevas */
.Currency {
  background-color: #fff;
  padding: 90px 0px;
}

.Currency .titlepage {
  text-align: center;
  padding-bottom: 65px;
}

.Currency .titlepage h2 {
  font-weight: 500;
  line-height: 72px;
  font-size: 40px;
  color: #080404;
}

.cur {
  color: #0154bc;
  font-weight: 500;
}

.Currency .three-box {
  border-top: #0154bc solid 2px;
  text-align: center;
}

.Currency .three-box figure {
  margin: 0px;
}

.Currency .three-box figure img {
  width: 100%;
}

.Currency .three-box .Bitcoin {
  position: relative;
  margin-top: -60px !important;
  text-align: center;
  box-shadow: #ddd 0px 1px 1px 1px;
  background-color: #fff;
  padding: 0px 20px 26px 20px;
  margin: 0 auto;
  width: 310px;
}

.Currency .three-box .Bitcoin i img {
  margin-top: -36px;
}

.Currency .three-box .Bitcoin p {
  padding-top: 20px;
  font-size: 15px;
  line-height: 23px;
  color: #3e3c3c;
}

.Currency .three-box .Bitcoin h3 {
  font-size: 27px;
  line-height: 32px;
  font-weight: 500;
  padding-top: 10px;
}

.Currency .three-box .read-more {
  padding: 11px 20px;
  background-color: #000;
  color: #fff;
  display: inline-block;
  margin-top: 26px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.Currency .three-box .read-more:hover {
  background-color: #0154bc;
}

.Bitcoin i {
  display: inline-block;
  background-color: 0154bc;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  margin-right: 5px;
}

.Bitcoin i img {
  filter: invert(100%);
}

/* SERVICIOS */
.layout_padding {
  padding-top: 90px;
  padding-bottom: 0px;
}

.images_2 {
  width: 100%;
  float: left;
  text-align: center;
}

.images_2 img {
  object-fit: cover;
  max-width: 343px;
  max-height: 279px;
}

.ride_section {
  width: 100%;
  float: left;
}

.ride_text {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #2b3436;
  font-size: 50px;
  margin-left: 0px;
  border-bottom: 1px solid #000;
}

.ride_main {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.ride_section_2 {
  width: 100%;
  float: left;
  padding-top: 50px;
}

.image_3 {
  width: 100%;
  float: left;
}

.image_3 img {
  object-fit: cover;
  max-width: 343px;
  max-height: 279px;
}

.cabe_text {
  width: 100%;
  float: left;
  font-size: 24px;
  color: #2b3436;
  margin-top: 20px;
}

.long_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #2b3436;
  margin-left: 0px;
}

.secure_text {
  width: 100%;
  float: left;
  font-size: 24px;
  color: #2b3436;
  margin-top: 20px;
  text-align: right;
}

.long_text_2 {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #2b3436;
  margin-left: 0px;
  text-align: right;
}


/* Estilos para la animación */
.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate__fadeInUp {
  animation-name: fadeInUp;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

/* Estilos del formulario de contacto */
#contacto {
  margin-top: 40px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  height: 150px;
}

.boton {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #0056b3;
}

/* Estilos del pie de página */
footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.footer-bottom {
  margin-top: 20px;
}